                                                       #Assignment Number 14

#Question Number 1

#WAP to create number series and apply the function, f(x) = x/2 on each and every element of the pandas series.

In [30]:
import pandas as pd

In [33]:
Original_data =pd.Series([2,4,6,8,10,12,14,16,18,20,22,24])
def f(x):
    return x/2
Divided_series = Original_data.apply(f)
print(Divided_series)

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
dtype: float64

#Question Number 2

In [36]:
#WAP to convert given a dictionary into corresponding dataframe and display it.

dictionary = pd.DataFrame({'Name': ['Vinay', 'Kushal', 'Aman'],

          	            'Age' : [22, 25, 24],

          	            'Occ' : ['engineer', 'doctor', 'accountant']})
dictionary

     Name  Age         Occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant