In [16]:
#Question No 1 Write a program to modify the first item (44) of a list inside a following tuple to 444.
tuple1 = (11, 22, [33, 44, 55],66,77)
tuple1[2][1]=444
print("Updated tuple :",tuple1)

Updated tuple : (11, 22, [33, 444, 55], 66, 77)

In [108]:
#Question No 2 Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list
list1=["M", "na", "i", "Ke"]   
list2=["y", "me", "s", "lly"]
for i,j in zip(list1,list2):
    print(i+j,end=" ")

My name is Kelly

In [105]:
#question no 3 #Write a Python program to change Bradâ€™s salary to 85000 in the following dictionary.
sample_dict = {'emp1': {'name': 'Jhon', 'salary': 75000},'emp2': {'name': 'Emma', 'salary': 80000},'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 85000
print("Updated Dist;",sample_dict)

Updated Dist; {'emp1': {'name': 'Jhon', 'salary': 75000}, 'emp2': {'name': 'Emma', 'salary': 80000}, 'emp3': {'name': 'Brad', 'salary': 85000}}

In [107]:
#question no 4 WAP to Return a set of elements present in Set A or B, but not both.
set1 = {10, 20, 30, 40, 50,60,70}                 
set2 = {40, 50, 60, 70,80,90}
difference = set1.symmetric_difference(set2)
sorted_difference = set(sorted(difference))
print("List of values which are in a or b ,but not  both:",sorted_difference)

List of values which are in a or b ,but not  both: {10, 80, 20, 90, 30}